body{
	background-color:black;
	display:grid;
	grid-template-columns:5vh 1fr 1fr 1fr 5vh; 
	grid-template-rows:10vh 10vh 68vh 10vh ; 
	grid-template-areas:
	". header header header ."
	". nav nav nav ." 
	". main main main ."
	". footer footer footer .";
}
header{
	background-color:;
	text-align:center;
	grid-area:header;
}
nav{
	grid-area:nav;
	background-color:;
	text-align:center;
}
nav ul{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	list-style-type:none;
	padding:0;
}
main{
	grid-area:main;
	background-color:;
}
footer{
	grid-area:footer;
	background-color:;
}
h1, a{
	color:white;
}
