body{
	background-image: url("https://cdn.discordapp.com/attachments/690097319751974924/799264548094869504/hFOObv6VdrXFz12LNnuKFAWbDH-A429AigPhXjL-FHOlqstKgzqxdH9MTrDg_3F_LPFzgQDIhfKqcJpvdLPNA9rFw640-h400-e3.png");
	display:grid;
	grid-template-columns:10vh 1fr 1fr 1fr 10vh; 
	grid-template-rows:10vh 10vh 1fr 10vh ; 
	grid-template-areas:
	". header header header ."
	". nav nav nav ." 
	". main main main ."
	". footer footer footer .";
}
header{
	background-color:#1B262C;
	text-align:center;
	grid-area:header;
}
nav{
	grid-area:nav;
	text-align:center;
}
nav ul{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	list-style-type:none;
	padding:0;
	margin-top:25px;
}
nav a{
	font-size:2em;
}
main p{
	text-align:center;
}
main img.Jupiter{
	height:40vh;
	width:40vh;
	margin-top:0px;
}
main img.Saturnus{
	height:40vh;
	width:60vh;
	margin-top:0px;
}
main img.Uranus{
	height:40vh;
	width:40vh;
	margin-top:0px;
}
main img.Neptunus{
	height:40vh;
	width:40vh;
	margin-top:0px;
}
main{
	grid-area:main;
	background-color:#1B262C;
	padding-left:10px;
	padding-right:10px;
}
footer{
	grid-area:footer;
	background-color:#1A1A2E;
}
h1, a, p, h2, h3{
	color:#F5FFFA;
}
h1{
	font-size:3em;
	margin-top:15px;
	margin-bottom:15px;
}
h3, h4, h5{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:#F5FFFA;
}
