.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 200px 4000px 200px;
}

body{
	background-color: #141d2d;
}

header{
	background-color: #141d2d;
	color: #a4a380;
	text-align: center;
	font-family: Lucida Console;
}

main{
	background-color: gray;
}

nav{
	background-color: #302f0e;
	color: #a4a380;
	border-radius: 30px;
	font-family: Lucida Console;
}

footer{
	background-color: darkgray;
	color: black;
}

p{
	color: black;
	font-family: Lucida Console;
}

.pos-a{
	grid-column: 1 / 5;
	grid-row: 1;
}

.pos-b{
	grid-column: 2 / 4;
	grid-row: 2;
}

.pos-c{
	grid-column: 1 / 4;
	grid-row: 3;
}

.pos-d{
	grid-column: 1 / 5;
	grid-row: 4;
}

.pos-e{
	grid-column: 2 / 4;
	grid-row: 3;
}

.color-a{
	color: #5B4C21;
	font-family: Lucida Console;
}

.color-b{
	color: #365B21;
	font-family: Lucida Console;
}

.color-c{
	color: #B4B385;
	font-family: Lucida Console;
}

.color-d{
	color: #922B2B;
	font-family: Lucida Console;
}

.color-e{
	color: #641A68;
	font-family: Lucida Console;
}
