.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 200px 4000px 200px;
}

body{
	background-color: #141d2d;
}

header{
	background-color: #141d2d;
	color: #a4a380;
	text-align: center;
}

main{
	background-color: gray;
}

nav{
	background-color: #302f0e;
	color: #a4a380;
}

footer{
	background-color: darkgray;
	color: black;
}

p{
	color: black;
}

.pos-a{
	grid-column: 1 / 5;
	grid-row: 1;
}

.pos-b{
	grid-column: 2 / 4;
	grid-row: 2;
}

.pos-c{
	grid-column: 1 / 4;
	grid-row: 3;
}

.pos-d{
	grid-column: 1 / 5;
	grid-row: 4;
}

.color-a{
	color: #5B4C21;
}

.color-b{
	color: #365B21;
}

.color-c{
	color: #B4B385;
}

.color-d{
	color: #922B2B;
}

.color-e{
	color: #641A68;
}
